:root {
  --quaseBranco: hsl(0, 0%, 98%);
  --cinzaMedio: hsl(0, 0%, 41%);
  --quasePreto: hsl(0, 0%, 8%);
  background-color: var(--quaseBranco);
}

.App {
  text-align: center;
  font-size: 18px;
  font-family: 'Epilogue', sans-serif;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:430px) {
    
}